<div class="card text-center">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <h5 class="card-title">Created by: {{user.username}}</h5>
    <p class="card-text">
      {{content}}
    </p>
  </div>
  <div class="card-footer text-muted">Date created:
    {{format_date date_created}}</div>
</div>

{{#if comments.length}}
  <div class="comment-list pt-5">
    <h4>What the TECHIE community is saying about this topic:</h4>
    {{#each comments as |comment|}}
      <h5 class="mt-4">{{comment.user.username}} says:</h5>
      <p class="lead">"{{comment.comment}}"</p>
      <h5>- comment made on {{format_date comment.date_created}}</h5>

      <div>
        <button
          type="button"
          class="btn btn-light"
          data-mdb-color="dark"
          data-id="{{comment.id}}"
        >DELETE</button>
      </div>

      <div>
        <a href="/edit-comment/{{comment.id}}">
          <button
            type="button"
            class="btn btn-light"
            data-mdb-color="dark"
          >UPDATE</button>
        </a>
      </div>
    {{/each}}
  </div>
{{/if}}
<div>
  <form class="new-comment-form">
    <label for="comment-content">Post your comment:</label>
    <textarea
      data-id={{id}}
      class="form-input"
      id="comment-content"
      name="comment-content"
    ></textarea>

    <button type="submit" class="btn btn-primary">ADD COMMENT</button>
  </form>
</div>

{{#if logged_in}}
  <script src="/js/comment.js"></script>
{{/if}}